@use 'variaveis';


.header {
    background-color: transparent;
    padding: 16px;
    transition: color 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: #ccc;
    }

    @media (max-width: 768px) {
            flex-direction: column; 
    }

        &__title {
            margin-top: 8px;
            color: variaveis.$corDoTexto;
            font-family: "Single Day", cursive;
            margin-bottom: 20px;
            font-size: 50px;
            font-weight: bold;
            text-align: center;

            @media(max-width:768px){
                font-size: 28px;
            }

            img {
                margin-top: 24px;
                display: flex;
                max-width: 95%;
                width: 100%;
                height: auto;
            }
        }   

        &__menu {
            display: flex;
            list-style: none;
            padding: 16px 50px;
        }

        .button {
            margin-bottom: 16px;
    
            @media (max-width: 768px) {
                font-size: 13px;
                padding: 8px 11px;
                height: 40px;
                letter-spacing: 0;
            }
        }
}